<header>
    Hi, I'm a header!
    <button>test</button>
</header>
<main [ngClass]="{ 'slider-active': isFormVisible }">
    <section
        class="slider"
        [attr.inert]="!isFormVisible || null"
    >
        <form>
            <label for="name">Name</label>
            <input
                id="name"
                type="text"
            >
            <button type="submit">Submit</button>
        </form>
        <button
            type="button"
            (click)="toggleForm()"
        >
            Hide form
        </button>
    </section>
    <section [attr.inert]="isFormVisible || null">
        <h1>Some heading</h1>
        <button
            type="button"
            (click)="toggleForm()"
        >
            Show form
        </button>
        <p>some content content content</p>
        <p>some content content content</p>
        <p>some content content content</p>
        <h2>Asdf</h2>
        <p>some content content content</p>
        <p>some content content content</p>
        <p>some content content content</p>
        <h2>qwertz</h2>
        <p>some content content content</p>
        <p>some content content content</p>
        <p>some content content content</p>
        <p>some content content content</p>
        <h2>stuff</h2>
        <p>some content content content</p>
        <p>some content content content</p>
        <p>some content content content</p>
        <p>some content content content</p>
    </section>
</main>
